/*-------------------------------------------
VARIABLE
  color
  font
  grid
  responsive
  table
---------------------------------------------*/

//===========================================
// VARIABLE
//   color
//-------------------------------------------
$white: #fff !default;
$gray-white: #f8f8f8 !default;
$gray-warm: #e6e6e6 !default;
$gray-lighter: #495057 !default;
$gray-warmer: #4f4f4f !default;
$gray-disabled: #e9ecef !default;
$gray-expired: #ebebeb !default;
$gray-lighten: #f2f2f2 !default;
$gray-light: #dee2e6 !default;
$gray-light-1: #888888 !default;
$multiselect-disabled: #ededed !default;
$gray-lighteen: #ced4da !default;
$gray: #adb5bd !default;
$gray-dark: #495057 !default;
$gray-darker: #81878d !default;
$gray-darken: #333434 !default;
$gray-darken-2: #404040 !default;
$gray-darken-3: #e2e2e2 !default;
$gray-1: #c3c3c3 !default;
$gray-2: #a0aab5 !default;
$gray-3: #d9d9d9 !default;
$gray-4: #6c757d !default;
$gray-5: #545b62 !default;
$gray-6: #5a6268 !default;
$gray-7: #dcdcdc !default;
$gray-8: #eaeaea !default;
$gray-9: #bababa !default;
$gray-10: rgba(241, 241, 241, 1) !default;
$gray-11: #b1b1b1 !default;
$gray-12: #959595 !default;
$gray-13: #6c6c6c !default;
$gray-14: rgba(0, 0, 0, 0.15) !default;
$gray-15: #adadad !default;
$gray-light-2: #7f7f7f !default;
$gray-light-3: #7e7e7e !default;
$gray-light-4: #c9ccd0 !default;
$gray-light-5: #cfcfcf !default;
$gray-light-6: #e9ecef54 !default;
$black: #000 !default;
$black-slight: #515151 !default;
$gray-16: #797878 !default;
$gray-17: #e9ecef7d !default;
$gray-18: #767a87 !default;
$gray-19: #efefef !default;

$pink: #ff91b0 !default;
$red-light: #ff4d7f !default;
$red: #f3331f !default;
$red-bright: #ff0000 !default;
$red-dark: #e14430 !default;
$red-darken: #db3c44 !default;
$red-1: #fc7d7d !default;
$orange-darken: #ffa95f !default;
$orange-dark: #fcb735 !default;
$orange-light: #fbe6a3 !default;
$orange: #fad58e !default;
$yellow: #f6de78 !default;
$yellow-middle: #ffeb00 !default;
$yellow-1: #f5c765 !default;
$yellow-dark: #a78336 !default;
$yellow-2: #fae64d !default;

$green-lighten: #e0eec8 !default;
$green-light: #c1de92 !default;
$green-light-1: #bcdb8c !default;
$green: #57c386 !default;
$green-dark: #2eb398 !default;
$green-darken: #668649 !default;
$green-naver: #00ca30 !default;
$green-naver-2: #00d05d !default;
$green-naver-hover: #009f26 !default;
$green-dragging: #2eb398 !default;
$green-marker: #03c75a !default;
$naver-info: #0dcf5b !default;
$green-darker: #20871a !default;
$cyan-light: #e0f3fa !default;
$cyan: #62cccf !default;
$cyan-dark: #c9e0e0 !default;
$blue-lighten: #e1f0fa !default;
$blue-light: #38bae6 !default;
$blue-light-2: #177dc0 !default;
$blue: #3499db !default;
$blue-1: #81c5f2 !default;
$blue-2: #abc1d1 !default;
$blue-hover: #0069d9 !default;
$blue-active: #21618c !default;
$blue-ocean-dark: #2f5596 !default;
$blue-gray: #2b5163 !default;
$blue-dark: #254554 !default;
$blue-darken: #1f3d4b !default;
$pastel-blue: #7295d2 !default;
$indigo: #4a148c !default;
$violet: #9c27b0 !default;
$purple-light: #d1c4e9 !default;
$purple: #7c79b6 !default;
$purple-hover: #5d59ac !default;
$blue-hover: #0e79bf !default;
$b-light-hover: #0d99c9 !default;
$cyan-hover: #20adb1 !default;
$red-hover: #c31e09 !default;
$orange-hover: #f0a00d !default;
$gray-lighten-hover: #dbdbdb !default;
$gray-light-hover: #cccccc !default;
$yellow-light-peach: #fff6d8 !default;
$yellow-light-new: #fffbac !default;
$calendar-cell-border: #d6e3f1 !default;
$azureish-white: #dee7f3 !default;
$antique-white: #fbe5d6 !default;
$black-v-calendar: #1a202c !default;
$pink-light: #ea3ea9 !default;
$cyan-light-2: #e7f5ff !default;
$naver-green-light: #03d182 !default;
$naver-blue-light: #5ba0f7 !default;
$naver-gray-light: #616161 !default;
$naver-blue-dark: #0070c0 !default;
$icon-ai: #c095c2 !default;

$black-opa-04: rgba(0, 0, 0, 0.4) !default;
$black-opa-06: rgba(0, 0, 0, 0.6) !default;
$table-text-color: $gray-darken !default;
$table-head-bg-color: #edf0f0 !default;
$table-head-text-color: $gray-darken;
$table-border-color: $gray;
$scroll-bar-bg-color: #c1c1c1 !default;
$box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
$transition: all 0.3s ease;
$color-btn: "white" $blue $white $white $blue $blue $white $box-shadow,
  "white-blue-light" $blue-light $white $white $blue-light $blue-light $white $box-shadow,
  "blue" $blue $blue $blue $white $blue-hover $white $box-shadow,
  "blue-light" $blue-light $blue-light $blue-light $white $b-light-hover $white $box-shadow,
  "cyan" $cyan $cyan $cyan $white $cyan-hover $white $box-shadow,
  "yellow" $yellow-1 $yellow-1 $yellow-1 $white $yellow-1 $white $box-shadow,
  "red" $red-dark $red-dark $red-dark $white $red-hover $white $box-shadow,
  "purple" $purple $purple $purple $white $purple-hover $white $box-shadow,
  "gray" $gray-disabled $gray-disabled $gray-disabled $white $gray-disabled $white $gray-disabled;
//===========================================
// VARIABLE
//   font
//-------------------------------------------
$font: "Nanum Gothic", "sans-serif";

$font-tiny: 10px;
$font-small: 12px;
$font-medium: 14px;
$font-medium-large: 16px;
$font-large: 18px;
$font-huge: 24px;

$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-19: 19px;

$font-20: 20px;
$font-21: 21px;
$font-22: 22px;
$font-23: 23px;
$font-24: 24px;
$font-25: 25px;
$font-26: 26px;
$font-27: 27px;
$font-28: 28px;
$font-29: 29px;

$font-30: 30px;
$font-31: 31px;
$font-32: 32px;

$font-40: 40px;
$font-50: 50px;
$font-60: 60px;

//================================================================
// CONTAINER 1024 ( exclude padding )
//----
$container-limit: 1084px;

//================================================================
// Common Width
$width-0: 0px;
$width-80: 80px;
$width-10: 10px;
$width-3: 3px;
//----------------------------------------------------------------

//================================================================
// BREAKPOINT
// viewport
//----------------------------------------------------------------

$breakpoints: (
  "extra-large": 1339.98px,
  "large": 1199.98px,
  "medium": 991.98px,
  "small": 767.98px,
  "extra-small": 575.98px,
  "extra-large-up": 1340px,
  "large-up": 1200px,
  "medium-up": 992px,
  "small-up": 768px,
  "extra-small-up": 576px,
  // Exception breakpoints:
  "max-1075_98": 1075.98px,
  "min-1076": 1076px,
) !default;

//================================================================
// TABLE
// height
//----------------------------------------------------------------
$min-height-table: 130px !default;
$max-height-table: 550px !default;

$max-width-dialog: 500px;
$min-width-button: 185px;

// Face ID Settings
$gray-opa-05: rgba(0, 0, 0, 0.05) !default;
$gray-opa-02: rgba(0, 0, 0, 0.02) !default;
$gray-opa-03: rgba(0, 0, 0, 0.3) !default;
$gray-opa-003: rgba(0, 0, 0, 0.03) !default;

// Unregistered Client Validation
$unregistered-client-validation-background: #fff3f3;
$unregistered-client-validation-color: #ff4c4c;

// Naver Booking Info
$naver-booking-info-background: #f6f7f9 !default;
$naver-booking-info-label-color: #0dcf5b !default;
$naver-booking-info-label-tag-color: #90f80d !default;
$naver-booking-info-scrollbar-color: #2d2d2d !default;
$naver-booking-info-scrollbar-thumb-color: rgba(255, 255, 255, 0.5) !default;
$naver-booking-info-scrollbar-thumb-color-hover: rgba(255, 255, 255, 0.7) !default;
$naver-booking-form-toggle-button-hover-color: $gray-opa-05 !default;
$naver-booking-form-toggle-button-container-color: $gray-opa-02 !default;
