.report-ai-summary {
  p {
    word-break: break-word;
    white-space: break-spaces;

    strong {
      font-weight: 700;
      em {
        font-weight: 700;
      }
    }
    em {
      font-style: italic;
    }
  }
}
