.report-ai-summary {
  position: relative;
  padding: 10px;
  border: 1px solid $gray;
  border-radius: 5px;
  .report-ai-summary-content {
    word-break: break-word;
    white-space: break-spaces;

    strong {
      font-weight: 700;
      em {
        font-weight: 700;
      }
    }
    em {
      font-style: italic;
    }
  }

  .icon-ai {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
