.user-command-history {
  .multiselect {
    &.multi-checkbox {
      &.multiselect--disabled {
        background: transparent;
        .multiselect__select {
          background: transparent;
        }
        .multiselect__tags {
          background: black;
        }
      }
      .multiselect__placeholder {
        padding-left: 10px;
        padding-top: 7px;
        color: black !important;
        font-size: 13px;
      }
      .multiselect__select {
        top: 10px;
        &:before {
          border-width: 8px 5px 0;
        }
      }
      .multiselect__tags {
        height: 27px;
        padding-top: 0;
        padding-left: 0;
        overflow: hidden;
        span.selected {
          display: block;
          padding-left: 10px;
          line-height: 21px;
          color: black;
          font-size: 15px;
          span {
            &:last-child {
              &:after {
                content: "";
              }
            }
            &:after {
              content: ", ";
            }
          }
        }
      }
      .multiselect__content {
        .multiselect__element {
          border-top: 1px solid $gray-light;
          &:first-child {
            .multiselect__option {
              padding-left: 10px;
              background: $white !important;
              color: black !important;
              &:before {
                display: none;
              }
              span {
                padding-left: 0;
                font-weight: bold;
              }
            }
          }
          .multiselect__option {
            height: 25px;
            padding: 10px 30px 10px 0;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 7px;
              bottom: 0;
              width: 14px;
              height: 14px;
              margin: 5px 8px;
              border: 1px solid $gray;
              border-radius: 2px;
            }
            &.multiselect__option--highlight,
            &.multiselect__option--selected {
              background: $white;
              color: black;
            }
            &:hover {
              background: $gray-lighten;
            }
            &.multiselect__option--selected {
              span {
                &:before {
                  display: block;
                }
              }
            }
            span {
              padding-left: 30px;
              font-size: 12px;
              font-weight: normal;
              &:before {
                display: none;
                content: "\2714";
                position: absolute;
                top: 9px;
                left: 8px;
              }
            }
          }
        }
      }
    }
  }
}
