.calendar-booking-date {
  &.vc-container {
    width: 100%;
    .vc-day {
      &.is-not-in-month {
        * {
          opacity: 0.6;
        }
      }
    }
  }
}
.calendar-booking-date--mobile {
  &.vc-container {
    width: auto;
  }
}
