.modal-aha-ai {
  .modal-dialog {
    max-width: 650px;
  }
  .modal-aha-ai-top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    .modal-aha-ai-top__title {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 10px;
      b {
        padding-top: 2px;
      }
      .question-icon {
        width: 20px;
        height: 20px;
      }
    }
    .setting-icon {
      margin-left: auto;
      width: 20px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .modal-aha-ai-body {
    .modal-aha-ai-body__textarea {
      border: 1px solid $gray-lighteen;
      border-radius: 0.25rem;

      &:focus {
        border: 1px solid #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }

      textarea {
        font-size: 14px;
        color: $black;
      }
      textarea:focus {
        box-shadow: none;
        border: none;
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #aaaaaa;
        height: 30px;
        .actions__left {
        }
        .actions__right {
        }
      }
    }
  }
}
