.multiselect.select-multiple-display-item {
  min-height: auto;
  width: 180px;

  .multiselect__select:before {
    border-width: 8px 4.5px 0;
    border-color: rgba(0, 0, 0, 0.6) transparent transparent;
  }

  .multiselect__tags {
    margin-top: 0;
    border: 1px solid $gray;
    border-radius: 0;

    .selected {
      color: $gray-dark !important;
    }
  }

  .multiselect__content {
    .multiselect__element {
      &:first-child {
        .multiselect__option {
          display: block;
          padding-left: 0;

          &:before {
            display: block;
          }

          span {
            padding-left: 30px;
            font-weight: normal;
          }
        }
      }
    }
  }
}
