.calendar-aha-ai {
  .button-aha-ai {
    margin-right: 10px;
    min-width: auto;
  }

  .button-aha-ai--mobile {
    padding: 5px 10px;
    margin-right: 8px;
    margin-left: 4px;
    min-width: auto;
  }
}
