.section-overall-revenue {
  margin-bottom: 30px;

  h3 {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .overall-revenue-charts {
    display: flex;
    gap: 30px;
    margin-top: 15px;
  }
}
