.section-overall-revenue {
  margin-bottom: 30px;

  h3 {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .overall-revenue-charts {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
  }
}

.section-overall-revenue.section-overall-revenue--mobile {
  .overall-revenue-charts {
    flex-direction: column;
    gap: 10px;
  }
}
