.modal-aha-ai-result-available-times {
  .modal-dialog {
    max-width: 650px;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    padding: 0 15px 10px;
    margin: 0 -15px 15px;
    gap: 10px;
    .content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      p {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
      }
    }
    .a-button {
      flex-shrink: 0;
    }
  }

  &-body {
    .date {
      margin-bottom: 10px;
    }
    .available-time {
      margin-bottom: 10px;
      p {
      }
      ul {
        li {
          padding: 7px 5px;
          border: 1px solid #adb5bd;
          background-color: #fff;
          border-radius: 4px;
          cursor: pointer;
          font-size: 13px;
          text-align: center;
          transition: all 0.2s linear;
        }
      }
    }
    .explain {
      margin-bottom: 10px;
    }
  }
}
