.calendar-date {
  display: flex;
  align-items: center;

  .calendar-date__pagination {
    margin: 0px -5px;

    @include ipad {
      margin: 0 5px;
    }

    .calendar-date__pagination-list {
      display: flex;
      align-items: center;

      .calendar-date__pagination-item {
        color: #fff;
        padding: 0px 5px;
      }

      .calendar-date__pagination-link {
        height: 35px;
        padding: 5px;
        color: #fff;
        display: flex;
        min-width: 40px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        transition: all 0.2s linear;
        background-color: $blue-light;

        &.calendar-date__pagination-link--today {
          padding: 5px 15px;
          white-space: nowrap;
        }

        &:hover {
          cursor: pointer;
          background-color: #2b5163;
        }
      }
    }
  }

  .calendar-date__selected {
    height: 35px;
    display: flex;
    user-select: none;
    border-radius: 5px;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
    background-color: $white;

    @include ipad {
      margin-left: 0;
    }

    .calendar-date__selected-icon {
      color: red;
      font-size: 25px;
      margin-right: 15px;
    }

    .calendar-date__selected-text {
      padding: 5px;
      font-size: 14px;
      font-weight: 500;

      @include mobile {
        white-space: nowrap;
      }
    }

    .calendar-date__selected-text-from-date {
      &:hover {
        display: flex;
        align-items: center;

        height: 100%;
        cursor: pointer;
        border-radius: 5px;
        background-color: $blue-light;

        @include mobile {
          width: 100%;
        }
      }
    }
  }

  &.calendar-date--mobile {
    .calendar-date__pagination {
      margin: 0px -2px;

      .calendar-date__pagination-list {
        .calendar-date__pagination-item {
          padding: 0px 2px;
        }

        .calendar-date__pagination-link {
          height: 35px;
          min-width: 35px;
          width: fit-content;
        }
      }
    }

    .calendar-date__selected {
      height: 35px;
      margin-left: 5px;
      width: fit-content;

      .calendar-date__selected-icon {
        font-size: 18px;
        margin-right: 8px;
      }

      .calendar-date__selected-text {
        font-size: 12px;
        white-space: pre-line;
      }
    }
  }
}
