.report-filter {
  .report-filter__actions {
    display: flex;
    justify-content: flex-end;
  }
  .report-filter__btn-search {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

.report-filter.report-filter--mobile {
  .report-filter__actions {
    justify-content: center;
  }
}
