.prepaid-services {
  .prepaid-services__header {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    ::v-deep {
      .custom-control-label {
        &::before,
        &::after {
          // top: 1px;
        }
      }
    }

    .a-button[disabled] {
      border: 1px solid $gray;
      background-color: $gray;
      color: $white;
      opacity: 0.65;
    }

    .a-checkbox {
      margin-left: auto;
    }
  }

  .prepaid-services__container {
    overflow: auto;
    margin-bottom: 15px;
  }

  .prepaid-services__table {
    th {
      white-space: nowrap;
    }

    tbody {
      tr {
        transition: none;

        // Bold for prepaid service name and remaining quantity when not expired
        &.prepaid-service-row:not(.prepaid-service-row--expired) {
          .prepaid-services__prepaid-service-name,
          .prepaid-services__remaining-quantity {
            font-weight: bold;
            span {
              font-weight: normal;
            }
          }
        }

        td {
          padding: 2px 5px;
          min-width: 120px;
          transition: all 0.2s linear;
          .prepaid-services__prepaid-service-name {
            span {
              color: #3499db;
            }
          }

          ::v-deep .prepaid-services__checkbox {
            &.custom-checkbox {
              .custom-control-label {
                &:before,
                &:after {
                  left: -20px;
                }
              }
            }
          }
        }

        .custom-td-min-width {
          min-width: 80px;
        }

        &.prepaid-service-row {
          &.prepaid-service-row--expired {
            background-color: $gray-expired;
          }
        }
      }
    }

    .prepaid-services__actions {
      display: flex;
      column-gap: 10px;
      align-items: center;
      justify-content: center;

      .prepaid-services__actions-button {
        margin: unset;
        background-color: $white;
      }
      .prepaid-services__actions-button:hover {
        color: $white;
        border-color: $blue;
        background-color: $blue;
      }
    }
  }

  // Mobile
  .prepaid-services__wrapper {
    ::v-deep {
      &.row {
        margin: 0;
      }
    }

    .prepaid-services__inner {
      padding: 6px 4px;
      margin-bottom: 2px;
      border: 1px solid $gray;
      position: relative;

      &.prepaid-services__inner--active {
        background: $green-lighten;
      }

      &.prepaid-service-row--expired {
        background-color: $gray-expired;
        // .prepaid-services__content {
        //   padding-left: 24px;
        // }
        .prepaid-services__content--expired {
          padding-left: 24px;
        }
      }

      p {
        padding: 0;
      }

      .prepaid-services__prepaid-service-name {
        span {
          display: inline-block;
          margin-left: 2px;
          color: $blue;
        }
      }

      // Bold for prepaid service name and remaining quantity when not expired (mobile)
      &:not(.prepaid-service-row--expired) {
        .prepaid-services__prepaid-service-name,
        .prepaid-services__prepaid-service-quantity {
          font-weight: bold;
          @include mobile {
            p:first-child {
              font-weight: 400;
            }
            p:last-child {
              font-weight: bold;
            }
          }
        }
        .prepaid-services__prepaid-service-name {
          span {
            font-weight: normal;
          }
        }
      }

      .prepaid-services__prepaid-service-group-button {
        display: flex;
        gap: 5px;
        margin-top: 10px;

        ::v-deep {
          .a-button {
            height: 29px;
            min-width: auto;
            padding: 3px 10px;
            font-weight: normal;
            border-radius: 4px;
            background: $white;
          }
        }
      }

      .prepaid-services__show-more-text {
        position: absolute;
        top: 30%;
        right: 10px;

        &.prepaid-services__show-more-text--active {
          transform: rotate(-90deg);
        }
      }
    }

    .prepaid-services__content {
      display: flex;

      .prepaid-services__content--right {
        flex: 1;
        &.prepaid-services__content--right--mobile {
          padding-left: 15px;
        }
      }
    }
  }

  .prepaid-services__table-empty {
    padding: 4px;
    text-align: center;
    border: 1px solid $gray;
  }
}
