.modal-search-client {
  .modal-dialog {
    max-width: 1200px;
  }
  .search-client-top {
    display: flex;
    align-items: center;
    .a-button--cyan {
      background-color: $cyan;
      border: 1px solid $cyan;
      color: $white;
      margin-left: 20px;
      &:hover {
        background-color: $cyan-hover !important;
        border: 1px solid $cyan !important;
        box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12), 0 2px 16px 0 rgba(14, 30, 37, 0.32);
      }
    }
  }
  .search-client-table {
    margin-top: 20px;
    .search-client-table__table-head {
      margin-bottom: 5px;
      span:last-child {
        color: $red;
      }
    }
  }

  ::v-deep .client-notes-tooltip {
    .tooltip-inner {
      max-width: 500px !important;
      text-align: left;
    }
  }
}

.modal-search-client.modal-search-client--mobile {
  .modal-dialog {
    max-width: 100% !important;
    height: 100%;
    margin: 0;
    .modal-content {
      height: 100%;
      .modal-header {
        position: sticky;
        top: 0;
        z-index: 1;
      }
      .modal-body {
        padding-top: 0;
      }
    }
  }

  .search-client-top {
    padding-top: 15px;
    background-color: $white;
    position: sticky;
    top: 28px;
    .a-button--cyan {
      padding: 0 10px;
    }
  }

  .search-client-table {
    margin-top: 10px;
    .search-client-table__table-head {
      span:last-child {
        display: none;
      }
    }
  }
}
