.modal-client-information {
  .modal-dialog {
    max-width: 550px;
    margin: 60px 60px 60px auto;
  }
  .custom-divider {
    margin-bottom: 15px;
  }
  .search-client-top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    .a-button--cyan {
      background-color: $cyan;
      border: 1px solid $cyan;
      color: $white;
      margin-left: auto;
      white-space: nowrap;
      &:hover {
        background-color: $cyan-hover !important;
        border: 1px solid $cyan !important;
        box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12), 0 2px 16px 0 rgba(14, 30, 37, 0.32);
      }
    }
    .a-button--add-booking {
      white-space: nowrap;
      min-width: 60px;
    }
  }
  .information {
    border: 1px solid $gray;
    padding: 15px;
    margin-bottom: 15px;

    .information__main {
      display: flex;
      margin-bottom: 10px;
      .information__main-left {
        display: flex;
        align-items: flex-start;
        flex: 1;
        .information__img {
          flex-shrink: 0;
          border-radius: 50%;
          border: 1px solid $gray;
          overflow: hidden;
          cursor: pointer;
          .img-empty {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $gray;
          }
          .img-avatar {
            width: 100px;
            height: 100px;
            object-fit: cover;
          }
        }
        .information__text {
          flex: 1;
          margin: 0 15px;
        }
      }

      .information__main-right {
        .a-button {
          font-size: 12px;
          padding: 6px 12px;
          min-width: auto;
          height: auto;
          line-height: 1;
        }
      }
    }

    .information__sub {
      margin-bottom: 10px;
      table,
      th,
      td {
        border: 1px solid;
        border-collapse: collapse;
        border-color: $gray-lighten !important;
      }
      td {
        padding: 5px 10px;
        font-size: 13px;
        text-align: left;
        .client-outstanding {
          color: $red;
          cursor: pointer;
        }
        .client-loyalty {
          cursor: pointer;
        }
        .client-upcoming-booking {
          display: flex;
          align-items: center;
          font-weight: 700;
          color: $blue;
          .btn-redirect {
            margin-left: 10px;
            padding: 0px 12px !important;
            font-size: 17px;
            height: 24px;
            line-height: 0;
          }
        }
        .red-color {
          color: $red;
          font-weight: 800;
        }
      }
      td:first-child {
        width: 150px;
      }
    }

    .information__note {
      padding: 5px;
      height: unset;
      display: block;
      margin-top: 15px;
      min-height: 70px;
      word-break: break-all;
      border: 1px solid #d9d9d9;
      max-height: 60px;
      cursor: pointer;
      @include truncate-text(3, 20px);
      &.information__note--disabled {
        background-color: $gray-disabled;

        &:hover {
          cursor: not-allowed;
        }
      }
    }

    .client-summary__client-name {
      margin-bottom: 4px;
      a {
        color: $blue-darken;
        font-size: 16px;
        font-weight: 800;
        cursor: pointer;
        transition: color 0.2s linear;
      }
      a:hover {
        color: $blue-hover;
      }
    }
    .client-summary__client-types {
      margin-bottom: 4px;
    }
    .client-summary__client-shop-name {
      margin-bottom: 4px;
    }
    .client-summary__mobile-number,
    .client-summary__phone-number {
      font-weight: 700;
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      .call-w-icon,
      .message-w-icon,
      .message-allow-icon {
        margin-bottom: 0;
        cursor: pointer;
      }
      .mobile-number,
      .phone-number {
        padding-top: 1px;
      }
    }
  }
  .tabs {
    .card-header {
      display: flex;
      flex-wrap: nowrap;
      border-bottom: 0;
      padding: 0;
      background-color: transparent;
      ul.card-header-pills {
        margin-right: 0;
        margin-left: 0;
        li.nav-item {
          white-space: nowrap;
          margin-right: 5px;
          a.nav-link {
            border: 1px solid $purple;
            border-radius: 0;
          }
          a.nav-link.active {
            background-color: $purple;
            font-weight: 400;
          }
        }
      }
    }
    .tab-content {
      margin-top: 15px;
      min-height: unset;
    }
    .card-body {
      padding: 0;
    }
  }
}

.client-summary__clients-tooltip {
  .tooltip-inner {
    text-align: left;
    max-width: 500px;
  }
}

.modal-client-information.modal-client-information--mobile {
  .modal-dialog {
    max-width: 100% !important;
    height: 100%;
    margin: 0;
    .modal-content {
      .modal-body {
        padding: 15px 15px 70px;
      }
    }
  }
  .search-client-top {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background: $white;
    margin-bottom: 0;
    z-index: 1;
  }

  .information {
    border: none;
    padding: 0;
    .message-allow-icon {
      img {
        min-height: 20px;
      }
    }
  }

  .tabs {
    .card-header {
      ul.card-header-pills {
        li.nav-item {
          a.nav-link {
            padding: 0.5rem 0.6rem;
          }
        }
      }
    }
  }
}
