.modal-aha-ai-help {
  .modal-dialog {
    max-width: 650px;
  }

  .modal-aha-ai-help-body {
    .help-section {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      &__content {
        line-height: 1.5;
      }

      &__list {
        li {
          line-height: 1.5;
        }
      }

      &__examples {
        line-height: 1.5;
      }
    }
  }
}
