.send-message-action {
  .btn-default:hover {
    color: white !important;
    background-color: #3499db !important;
  }

  .send-type {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alimtalk-inner {
    background-color: #ecf4ff !important;
    .aha-logo {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background-size: contain;
      background-image: url(/template/images/alimtalk/alimtalk-logo.jpg);
      vertical-align: middle;
    }
    .message-content {
      border-radius: 10px;
      padding: 0 !important;
      margin-top: 10px;
      height: 300px !important;
      overflow: hidden;
      .textbox {
        border: 0 solid #000 !important;
        height: 265px !important;
      }
      .top-txArea {
        padding: 5px;
        height: 30px;
        background-color: #fae200;
      }
      .alimtalk-text-area {
        background-color: white !important;
        overflow: auto;
        word-break: break-all;
      }
      .consent-link-btn {
        width: 90%;
        margin-left: 12px;
        padding: 10px 0px;
        border: 1px solid $gray;
        cursor: default !important;
      }
    }
  }

  .message-content.mms-content {
    padding: 0 !important;
    margin-top: 13px;
    height: 150px;
    overflow: hidden;
    .textbox {
      border: 0 solid #000 !important;
      height: 120px !important;
    }
  }
  .sub_group {
    cursor: pointer;
  }
  .w145px {
    width: 145px !important;
  }
  .tooltip-inner {
    width: 300px !important;
    max-width: 300px !important;
  }
  .overflow-table {
    border: 1px solid #adb5bd;
    overflow: auto;
    height: 125px;
    width: 70%;
  }
  .unregister-client-table {
    td {
      text-align: left;
    }
    td:hover {
      background-color: #e0eec8;
    }
    .selected {
      background-color: #e0eec8;
    }
  }
  select,
  textarea {
    color: #000;
  }
  .message-content {
    height: 300px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    padding: 0 !important;

    .textbox {
      height: 265px !important;
      border: 0 solid #000 !important;
    }
  }

  .non-name {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .w30p {
    width: 30% !important;
  }
  .mb0 {
    margin-bottom: 0;
  }
  .fll.w100p {
    width: 100%;
  }
  .phone-message-box.box {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    min-height: 620px;
    .date-sm {
      display: inline-block;
      input {
        width: 80px;
      }
    }
    .time-sm {
      display: inline-block;
      select {
        width: 50px;
        margin-right: 3px;
      }
    }
  }
  .bg-back {
    background-color: #fff;
    border-radius: 5px;
  }
  .phone-message-box.left {
    width: 35%;
  }
  .phone-message-box.right {
    position: relative;
    width: 65%;
    min-height: 555px;
  }
  label.btn1 {
    background-color: #4ca1bf;
    border-radius: 5px;
    border: 1px solid #4ca1bf;
    padding: 0.2em 0.8em;
    margin: 3px 0;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5 !important;
    transition: 0.3s;
    cursor: pointer;
  }
  .left {
    // background-image: url(../template/images/common/phone-l.png);
    // background-repeat: no-repeat;
    // background-position: 50% 50%;
    position: relative;
    .sms-pc {
      display: flex;
      align-items: flex-end;
      gap: 15px;
    }
    .sms-m {
      display: none;
      .sms-tab {
        li {
          width: 33.33%;
          .btn {
            display: inline-block;
            width: 100% !important;
            border-radius: 0;
            border: 1px solid #adb5bd !important;
            color: #000 !important;
            background-color: #fff;
          }
          .btn.action {
            background-color: #7c79b6 !important;
            color: #fff !important;
          }
          .btn:hover :not(.disabled) {
            background-color: #7c79b6 !important;
            color: #fff !important;
          }
        }
      }
    }
    .inner {
      // position: absolute;
      // top: 50%;
      // margin-top: -200px;
      // left: 50%;
      // margin-left: -115px;
      // width: 230px;
      // height: 400px;
      // background-color: #fff;
      // border: 1px solid #bfbfbf;
      // border-radius: 5px;
      box-sizing: border-box;
      background-color: #f5f5f5;
      border: 2px solid #dbdbdb;
      padding: 0px 1rem 45px 1rem;
      border-radius: 30px;
      width: 312px;
      margin: 20px auto;
      .textbox {
        width: 100%;
        height: 300px;
        font-size: 15.5px;
        margin-top: 0;
        padding-left: 2px !important;
      }

      .fix {
        left: 50%;
        bottom: 3px;
        position: absolute;
        margin-left: -35px;
      }

      .buttonbox {
        text-align: left !important;
        button.btn.send-message-btn {
          color: #fff !important;
          background-color: #3499db;
          border: 0 solid #000;
        }
        button.btn {
          border: 1px solid #adb5bd;
          border-radius: 0;
          display: inline-block;
          width: 32% !important;
          font-size: $font-small;
          height: 35px;
          line-height: 1;
          margin-top: 3px;
        }
        button.btn.w50p {
          width: 49% !important;
        }
        button.btn.w100p {
          width: 99% !important;
        }
        margin-bottom: 5px;
      }
      .buttonbox.under {
        margin-top: 0;
        button.btn {
          font-size: $font-small;
          height: 35px;
          line-height: 1;
          width: 49% !important;
        }
      }
      .button-up {
        font-size: $font-small;
        height: 35px;
        line-height: 1;
      }
    }
  }
  .left.image-mms {
    // background-image: url(../template/images/common/phone-l.png);
    // background-repeat: no-repeat;
    // background-position: 50% 50%;
    // position: relative;
    // min-height: 620px;
    .inner {
      box-sizing: border-box;
      width: 300px;
      margin: 20px auto;
      .textbox {
        height: 150px;
        margin-bottom: 15px;
      }
      .fix {
        position: absolute;
        left: 50%;
        margin-left: -30px;
      }
    }
    .mms-img-box {
      background-color: #fff;
      height: 147px;
      margin-top: 3px;
      overflow: hidden;
      text-align: center;
      border: 1px solid #bfbfbf;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .right {
    border: 1px solid #bfbfbf;
    background-color: #fff;
    .sendday-tab {
      .btn {
        font-size: $font-small;
        border-radius: 0;
        border: 1px solid #adb5bd;
        color: #000;
        background-color: #fff;
      }
      .btn.action {
        color: #fff;
        background-color: #7c79b6;
      }
    }
    .bd {
      padding: 0;
    }
    .pd10 {
      padding: 10px;
    }
    table.bd-none {
      td {
        border: 0 solid #000 !important;
      }
      tr:hover {
        background: #fff !important;
      }
      tr > td:first-child {
        width: 37%;
        text-align: left;
      }
      tr > td:last-child {
        width: 63%;
        text-align: left;
      }
    }
    .link-guide-btn {
      margin-bottom: 20px;
      margin-top: 20px;
      .btn-link {
        margin: 3px;
        display: inline-block;
        padding: 0.5rem;
        background: #2e2d36;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        box-sizing: border-box;
        border-radius: 4px;
      }
    }
    .organge-color {
      color: #fcb735;
    }
    .red-color {
      color: #dc2c2c;
    }
    .bgt-yellow {
      background-color: #ffff7f;
    }
    .charge-btn {
      max-width: 100%;
    }
  }
  // .button-send-box {
  //     margin-top: 30px;
  //     .btn.default {
  //         margin: auto;
  //     }
  // }
  .solution-message-sample {
    margin-top: -20px;

    float: left;
    width: 100%;
    .message-tab {
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
      text-align: center;
      ul {
        display: inline-block;
      }
      button.mes-tab {
        padding: 0.5rem 2rem !important;
        border-radius: 0;
        border: 1px solid #adb5bd;
        color: #000;
        background-color: #fff;
      }
      button.mes-tab.action {
        background-color: #7c79b6;
        color: #fff;
      }
      button.mes-tab:hover {
        background-color: #7c79b6 !important;
        color: #fff !important;
      }
    }
  }
  .sample-mes-list {
    .sample-list-left {
      float: left;
      width: 30%;
      box-sizing: border-box;
      padding: 1rem;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      .message-sample-m {
        display: none;
      }
      table {
        width: 100%;
        tr td {
          text-align-last: left;
          padding: 0.5rem;
          border-bottom: 1px solid rgb(240, 240, 240);
          button {
            float: right;
          }
          span {
            line-height: 28px;
          }
        }
      }
    }
    .sample-list-right {
      float: left;
      width: 70%;
      padding: 5px;
    }
    .sample-list-right.my-message {
      margin: auto;
      float: none;
    }
    .sample-list-consent {
      float: left;
      width: 100%;
      padding: 5px;
    }
  }
  .message-autos-setup-load-modal {
    .phone-message-box.left {
      width: 40%;
    }
    .phone-message-box.right {
      position: relative;
      width: 60%;
      min-height: 555px;
    }
    .phone-message-box.box {
      min-height: 550px;
    }
    .message-autos-setup-load-right {
      border: none;
      position: relative;
      .cancel-footer {
        position: absolute;
        bottom: 0;
        margin-left: 190px;
      }
      .bdb {
        border: none;
      }
    }
  }

  .dont-send-message-client {
    margin-top: 15px;
  }
}

.tooltip-character {
  opacity: 1 !important;
}

.messages-rejection-in-tooltip > .tooltip-inner {
  max-width: 450px !important;
  text-align: left !important;
}

.messages-fee-in-tooltip > .tooltip-inner {
  border: black !important;
  border-width: thick;
  color: black !important;
  max-width: 500px !important;
  background: white !important;

  th {
    background: #c4bd97 !important;
  }

  .info {
    background: #93cddd !important;
  }

  p {
    text-align: left;
  }
}

.tooltip-character > .tooltip-inner {
  table {
    background-color: #fff;
  }
  table tbody tr:hover {
    background-color: white !important;
  }
  table tbody :hover {
    background-color: #e0eec8 !important;
    cursor: pointer;
  }
  border: black !important;
  border-width: thick;
  color: black !important;
  max-width: 800px !important;
  background: white !important;
  pointer-events: all;
}

// responsive
@media (max-width: 1440px) {
  .send-messages {
    width: 100%;
  }
}

// large: .col-lg- | 992 - 1199px -> ipad landscape
@media (max-width: 1199.98px) {
}

// medium: .col-md- | 768 - 991px -> ipad
@media (max-width: 991.98px) {
}

// small: .col-sm- | 576 - 767px -> mobile landscape
@media (max-width: 991.98px) {
  .messages-rejection-in-tooltip > .tooltip-inner {
    max-width: 300px !important;
  }
  .send-message-action {
    .sample-mes-list {
      .sample-list-left {
        width: 100% !important;
      }
      .sample-list-right {
        width: 100% !important;
      }
      .sample-list-right.my-message {
        width: 100% !important;
      }
    }
    .phone-message-box.box {
      float: none;
      width: 100% !important;
      height: auto;
    }
    .left {
      margin-bottom: 10px;
      .sms-pc {
        display: none;
      }
      .sms-m {
        display: block;
      }
    }
    .right {
      height: auto !important;
      min-height: auto !important;
    }
    .solution-message-sample {
      margin-top: 20px;
      .r-fln {
        width: 100%;
        select {
          width: 45%;
        }
      }
      .sample-mes-list {
        .sample-list-left {
          .message-sample-pc {
            display: none;
          }
          .message-sample-m {
            display: inline-table;
          }
        }
        .sample-list-right {
          .hide-mobile {
            display: none;
          }
          .top-title {
            .spacing {
              padding: 8px;
            }
            button {
              margin-top: 5px;
            }
          }
        }
      }
    }
    .message-content {
      border-bottom: 1.5rem solid white !important;
    }
    .message-autos-setup-load-modal {
      .message-autos-setup-load-right {
        border: 1px solid #bfbfbf;
        background-color: #fff;
        .cancel-footer {
          position: relative;
          margin-left: auto !important;
        }
        .bdb {
          border-bottom: 1px solid #c3c3c3;
          padding-bottom: 5px;
        }
      }
    }
  }

  .messages-fee-in-tooltip > .tooltip-inner {
    width: 300px;
    overflow: auto;
    box-sizing: border-box;
    margin-left: 230px;
    padding: 5px;
    pointer-events: all;
  }
  .tooltip-character > .tooltip-inner {
    width: 300px;
    overflow: auto;
    box-sizing: border-box;
    margin-left: 230px;
    padding: 5px;
  }
}

// extra small: .col- | 360 - 575px, mobile
@media (max-width: 575.98px) {
}
