// Responsive visibility classes
.mobile-visible {
  @include mobileVisible;
}

.desktop-visible {
  @include desktopVisible;
}

// Customized tooltip styles
.p-tooltip {
  &.tooltip-mw-400 {
    max-width: 400px;
    font-size: 13px;
    margin: 0 20px;
  }
}

.filter-action {
  .p-button {
    width: 170px;
  }
}
