.modal-aha-ai-setup {
  & > .modal-dialog {
    max-width: 1100px;
  }

  .settings {
    .settings__group {
      .field {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
        .field__label {
          width: 33%;
        }
        .field__item {
          .custom-radio-group {
            display: flex;
            gap: 20px;
            align-items: center;
            .custom-control-label::before,
            .custom-control-label::after {
              top: 3px;
            }
          }
          .switch-checkbox {
            line-height: 1.8;
          }
        }
      }
    }
    .settings__group--outside {
      .field {
        .field__item {
          .a-input {
            width: 200px;
            height: 30px !important;
          }
        }
      }
    }
    .settings__group--inside {
      background-color: $gray-lighten;
      padding: 20px;
      border: 1px solid $gray;
      .field {
        .field__item {
          display: flex;
          align-items: center;
          flex: 1;
          gap: 60px;
          .field__item__progress {
            display: flex;
            align-items: center;
            width: 40%;
            .custom-range {
              border: none;
              height: 30px !important;
            }
          }
          .field__item__sub-item {
            display: flex;
            align-items: center;
            gap: 15px;
            flex: 1;
            label {
              flex-shrink: 0;
            }
            .multiselect {
              height: 30px;
              min-width: 160px;
              .multiselect__tags {
                height: 30px;
              }
            }
          }
          .field__item__note {
            display: flex;
            align-items: center;
            gap: 15px;
          }
          .select-resource-checkbox {
            width: 40%;
            .multiselect__select {
              top: 15px;
            }
            .multiselect__tags {
              height: 30px;
              width: 100%;
              border-radius: 5px;
              text-align: center;
            }
            .multiselect__placeholder {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.modal-aha-ai-setup.modal-aha-ai-setup--tablet,
.modal-aha-ai-setup.modal-aha-ai-setup--mobile {
  .settings {
    .settings__group {
      .field {
        display: block;
        .field__label {
          width: unset;
          margin-bottom: 5px;
        }
      }
    }
    .settings__group--outside {
      .field {
        .field__item {
          .a-input {
            width: 100%;
          }
        }
      }
    }
    .settings__group--inside {
      padding: 10px;
      .field {
        .field__item {
          display: block;
          .field__item__progress {
            width: 100%;
          }
          .field__item__sub-item {
            display: block;
            padding-bottom: 5px;
          }

          .select-resource-checkbox {
            width: 100%;
          }
        }
      }
      .field:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid $gray;
      }
    }
  }
}
