@use "sass:map";

$buttons: (
  // name: bgColor, borderColor, color, hoverBgColor, borderColor, color
  "primary":
    (
      "bgColor": #3499db,
      "textColor": #ffffff,
      "borderColor": #3499db,
      "hoverBgColor": #0069d9,
      "hoverTextColor": #ffffff,
      "hoverBorderColor": #0069d9,
    ),
  "secondary": (
    "bgColor": #62cccf,
    "textColor": #ffffff,
    "borderColor": #62cccf,
    "hoverBgColor": #47aaad,
    "hoverTextColor": #ffffff,
    "hoverBorderColor": #47aaad,
  ),
  "warning": (
    "bgColor": #f5c765,
    "textColor": #ffffff,
    "borderColor": #f5c765,
    "hoverBgColor": #d6a02c,
    "hoverTextColor": #ffffff,
    "hoverBorderColor": #d6a02c,
  ),
  "danger": (
    "bgColor": #dc3545,
    "textColor": #ffffff,
    "borderColor": #dc3545,
    "hoverBgColor": #c62c3a,
    "hoverTextColor": #ffffff,
    "hoverBorderColor": #c62c3a,
  ),
  "cancel": (
    "bgColor": #d9d9d9,
    "textColor": #393939,
    "borderColor": #d9d9d9,
    "hoverBgColor": #b7b7b7,
    "hoverTextColor": #000000,
    "hoverBorderColor": #b7b7b7,
  ),
  "out-line": (
    "bgColor": #ffffff,
    "textColor": #3499db,
    "borderColor": #3499db,
    "hoverBgColor": #0069d9,
    "hoverTextColor": #ffffff,
    "hoverBorderColor": #0069d9,
  ),
  "blue-light": (
    "bgColor": #38bae6,
    "textColor": #ffffff,
    "borderColor": #38bae6,
    "hoverBgColor": #0d99c9,
    "hoverTextColor": #ffffff,
    "hoverBorderColor": #0d99c9,
  )
);

$button-sizes: (
  "small": (
    "height": 22px,
    "fontSize": 10px,
    "minWidth": 80px,
    "lineHeight": 14px,
    "padding": 4px 10px,
    "borderRadius": 4px,
  ),
  "medium": (
    "height": 35px,
    "fontSize": 14px,
    "minWidth": 100px,
    "lineHeight": 15px,
    "padding": 10px 15px,
    "borderRadius": 4px,
  ),
  "large": (
    "height": 46px,
    "fontSize": 14px,
    "minWidth": 120px,
    "lineHeight": 16px,
    "padding": 15px 20px,
    "borderRadius": 4px,
  ),
);

.a-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 35px;
  outline: none;
  font-size: 14px;
  min-width: 100px;
  font-weight: 400;
  line-height: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #ffffff;

  transition: all 0.2s linear;

  @each $name, $colors in $buttons {
    &.a-button--#{$name} {
      color: map-get($colors, "textColor");
      border-color: map-get($colors, "borderColor");
      background-color: map-get($colors, "bgColor");

      &:hover:not(:disabled) {
        color: map-get($colors, "hoverTextColor");
        border-color: map-get($colors, "hoverBorderColor");
        background-color: map-get($colors, "hoverBgColor");
      }
    }

    &.a-button--#{$name}--ghost {
      background-color: transparent;
      color: map-get($colors, "bgColor");
      border-color: map-get($colors, "bgColor");

      &:hover:not(:disabled) {
        color: map-get($colors, "textColor");
        border-color: map-get($colors, "borderColor");
        background-color: map-get($colors, "bgColor");
      }
    }
  }

  @each $name, $sizes in $button-sizes {
    &.a-button--#{$name} {
      height: map-get($sizes, "height");
      padding: map-get($sizes, "padding");
      min-width: map-get($sizes, "minWidth");
      font-size: map-get($sizes, "fontSize");
      line-height: map-get($sizes, "lineHeight");
      border-radius: map-get($sizes, "borderRadius");
    }
  }

  &:disabled {
    opacity: 1;
    background-color: $gray;
    border-color: $gray;
    &:hover {
      cursor: not-allowed;
    }
  }
}
