.sales-by-item-page {
  .filter-wrapper {
    margin-bottom: 15px;
    padding: 15px 10px;
    background: $white;
    .filter {
      .input-date-range-by-date-type {
        width: auto;
        margin-right: 45px;
      }

      .select-staff {
        @include mobile {
          width: 96%;
        }
      }

      .select-box-wrapper {
        display: flex;
        flex-wrap: wrap;
      }

      .select-box {
        display: flex;
        align-items: center;

        label {
          width: 30px;
          margin-right: 10px;
          line-height: 30px;
        }
        select {
          width: 200px;
          height: 30px;
        }
        &.sales-item {
          label {
            width: 65px;
          }
        }
      }
    }
    .filter-search {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .btn-search {
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        width: 120px !important;
        height: 36px;
        margin-top: -3px;
        padding: 0;
        border: 0;
        border-radius: 5px;
        text-align: center;
        outline: 0;
        i {
          height: 19px;
          margin-right: 5px;
        }
        span {
          color: $white;
        }
      }
    }
  }
  .table-wrapper {
    background-color: white;
    padding: 15px 10px;

    .table-title {
      float: left;
      height: 25px;
      padding-top: 2px;
    }
    .table-header {
      display: flex;
      margin-bottom: 15px;
      align-items: center;
      justify-content: flex-start;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }

      .sales-item-tabs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &__item {
          cursor: pointer;
          padding: 0 15px;
          transition: color 0.2s ease;
          border-right: 1px solid $black;
          @include mobile {
            padding: 0 5px;
          }
          &:hover {
            color: $orange-darken;
          }

          &--active {
            color: $orange-darken;
            font-weight: 600;
          }

          &:first-child {
            border-left: 1px solid $black;
          }
        }

        &__checkbox {
          margin-left: 30px;

          .custom-control-label {
            &:before, &:after {
              top: 2px;
            }
          }
        }

        @include mobile {
          width: 100%;
        }
      }

      .sales-item {
        gap: 15px;
        display: flex;
        align-items: center;
         select {
          width: 200px;
          height: 30px;
         }

        @include mobile {
          width: 100%;
        }
      }

      .display-by-type {
        display: flex;
        align-items: center;
        float: right;

        & > label {
          margin-right: 0.8rem;
        }
        .custom-radio {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .table-sales-by-item {
      width: 100%;
      .sales-by-item-page__total {
        text-align: center;
      }
    }
    table {
      thead {
        th {
          vertical-align: middle;
          line-height: 18px;

          &.formula-col {
            white-space: nowrap;
          }
        }
      }
      tbody {
        tr {
          &:last-child {
            background: $gray-lighten;
          }
          td {
            border-color: $gray;

            &.td--text-left {
              text-align: left;
            }
          }
        }
      }
    }
  }
  .description {
    margin: 10px 0px;
    padding: 22px 0px;
    background-color: white;
    ul {
      li {
        list-style: inside;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .sales-by-item-page {
    .filter-wrapper {
      .filter {
        .input-date-range-by-date-type {
          margin-right: 20px;
        }
        .select-box {
          select {
            width: 180px;
          }
        }
      }
    }
    .filter-search {
      justify-content: center !important;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .sales-by-item-page {
    .filter-wrapper {
      .filter {
        .input-date-range-by-date-type {
          .date-view {
            padding-left: 0px;

            .date-view__group {
              .select-date {
                width: 100%;
                input {
                  width: 100%;
                }
              }
            }

            .input-date-range {
              display: flex;
              flex-direction: row;
              .from-date {
                flex: 50%;
              }
              .to-date {
                flex: 50%;
              }
            }

          }
        }
        .select-box-wrapper {
          flex-direction: column;
          align-items: baseline;
          .select-box {
            flex-direction: column;
            align-items: baseline;
            width: 100%;
            &.sales-item {
              select {
                margin-bottom: 10px;
              }
            }
            label {
              width: 65px;
            }
            select {
              // width: 200px;
              width: 100%;
            }
          }
        }

      }
    }
  }
}
