.modal-aha-ai-search-available-times {
  .modal-dialog {
    max-width: 650px;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    padding: 0 15px 10px;
    margin: 0 -15px 15px;
    .action--voice {
      cursor: pointer;
      font-size: 24px;
      width: 35px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }

  &-body {
    display: flex;
    gap: 30px;

    &__left {
      flex: 1;
      .booking-date-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .vc-container {
        width: 100%;
      }
    }

    &__right {
      flex: 1;
      .filter-group {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        > b {
          display: block;
          margin-bottom: 5px;
        }
      }

      .multiselect {
        text-align: center;
        height: 30px;
        .multiselect__tags {
          padding-left: 40px;
          height: 30px;
        }
        &.select-resource-checkbox {
          width: 100%;
          .multiselect__select {
            width: 30px;
            top: 15px;
          }
          .multiselect__tags {
            height: 30px;
            width: 100%;
            border-radius: 5px;
            text-align: center;
            padding: 0px 28px 0 20px;
            font-size: 13px;
            .selected {
              color: #1d1d1d;
            }
          }
          .multiselect__placeholder {
            font-size: 14px;
          }
        }
      }

      .booking-start-time-manual-selection {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        .multiselect {
          .multiselect__select {
            z-index: 2;
          }
          .multiselect__tags {
            padding: 0 10px;
            text-align: left;
          }
        }
      }
    }
  }
}

.modal-aha-ai-search-available-times--mobile {
  .modal-aha-ai-search-available-times-body {
    display: block;

    &__left {
      flex: 1;
      .booking-date-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .vc-container {
        width: 100%;
      }
    }

    &__right {
      flex: 1;
      .filter-group {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        > b {
          display: block;
          margin-bottom: 5px;
        }
      }

      .multiselect {
        text-align: center;
        height: 30px;
        .multiselect__tags {
          padding-left: 40px;
          height: 30px;
        }
        &.select-resource-checkbox {
          width: 100%;
          .multiselect__select {
            width: 30px;
            top: 15px;
          }
          .multiselect__tags {
            height: 30px;
            width: 100%;
            border-radius: 5px;
            text-align: center;
            padding: 0px 28px 0 20px;
            font-size: 13px;
            .selected {
              color: #1d1d1d;
            }
          }
          .multiselect__placeholder {
            font-size: 14px;
          }
        }
      }

      .booking-start-time-manual-selection {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        .multiselect {
          .multiselect__select {
            z-index: 2;
          }
          .multiselect__tags {
            padding: 0 10px;
            text-align: left;
          }
        }
      }
    }
  }
}
