.report-insights {
  .report-insights-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .report-insights-title {
      display: flex;
      align-items: center;
      gap: 5px;
      h3 {
        font-weight: 600;
        line-height: 1;
      }
    }
    .report-insights-actions {
      margin-left: auto;
    }
  }
  .report-insights-body {
  }
}
